
input[type='button'], input[type='submit'], button[type='submit'] {
    width: 160px;
} 

label {
    margin-top: 15px;
} 

.retorno {
    text-align: center;
    text-transform: uppercase;
}



/*
header{
    /*background: #204d74;
    background: #0A5F55;
    height: 160px;
    width: 100%;
    } */